# Python
__pycache__/
*.pyc
*.pyo
.venv/
*.egg-info/
dist/

# Node
node_modules/
front/dist/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.zip
.terraform.lock.hcl

# Lambda layer build artifacts
infra/lambda_layers/**/python/
infra/lambda_layers/**/layer.zip

# IDE
.vscode/
.idea/
.DS_Store

# Env
.env
.env.*

# Temp
/tmp/

# Excluded folders
megathon/
aiops/
